/** {
	margin: 0px;
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

div {
    display: inline-block;
}

.wrapper {
    min-height: 100%;
    position: relative;
    text-align: center;
}

.header {
    display: block;
    background: url("../images/Roadtrip_scale.png") no-repeat center center;
    background-size: cover;
    height: 300px;
    margin: 0px auto;
}

.body {
    display: block;
    background: url("../images/RoadTrip_background.png") no-repeat center center fixed;
    background-size: cover;
    padding-top: 20px;
}

.footer {
    position: relative;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    clear: right;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 65px;
    width: 100%;
    background-color: #020d91;
}

#nav_items ul {
    display: flex;
    align-items: center;
    position: relative;
    height: 65px;
    width: 100%;
}

#nav_items li {
    position: relative;
    display: flex;
    margin: auto 20px 15px 20px;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
}

#nav_items li:hover {
    background-color: #5696ed;
}

#nav_heading h1 {
    display: flex;
    position: relative;
    color: #ffffff;
    font-family: "Artbrush";
    font-size: 35px;
    padding-right: 50px;
}

.main {
    text-align: center;
    padding: 25px 150px 5px 100px;
}

.main img {
    float: left;
    margin: 60px 115px 0px 60px;
}

.main p {
    display: block;
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.main p:last-child {
    text-align: center;
}

.photo-gallery {
    position: relative;
    margin: 15px auto;
    border: 1px solid #000000;
    height: auto;
    width: 90%;
    text-align: center;
    /* padding: 15px; */
    /* padding-left: 70px; */
}

.photo-gallery h1 {
    text-align: center;
}

.img img {
    display: inline;
    width: 200px;
    height: 200px;
}

.img {
    height: auto;
    width: 230px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    text-align: center;
}

.desc {
    display: block;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}