html {
    margin : 0;
    padding : 0;
}

body {
    background: url("images/Road%20Trip%20background.png") 
        no-repeat center center fixed;
    margin : 0;
    padding : 0;
}
div {
    display: block;
}
a {
    color: #ffffff;
    text-decoration: none;
    
}
a:hover {
    

}
.btn {
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    clear: right;
}
.header {
    background: url("images/Road%20trip%20scale.png") 
        no-repeat center center;
    background: cover;
    height: 300px;
    margin: 0px auto;
    
}


.nav {
    height: 65px;
    width : 100%;
    background-color: #020d91;
    margin: 0px auto;
    padding : 1px;
}
.nav ul {
    margin : 22px;
    
}
.nav li {
    display : inline;
    margin: 20px;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #ffffff;

}
.nav li:hover {
    background-color: #5696ed;
}
.main {
    display : block;
    margin: 50px 200px 0px 200px;
    text-align: center;
}
.main img {
    float:left;
    margin: 0px 90px 50px 0px;
    

}
.main p {
    display: block;
    font-family: Arial;
    font-size: 20px;
    -webkit-margin-before: 1px;
    -webkit-margin-afer: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}
.main h2 {
    display: block;
    clear: right;
    
}
.planning {
    clear: right;
    margin: 175px 200px 0px 200px;
    text-align: center;
}
.planning img {
    float:left;
    margin: 0px 90px 50px 0px;
    

}
.planning p {
    display : block;
    clear: right;
    font-family: Arial;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-margin-before: 1px;
    -webkit-margin-afer: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}
.planning h2 {
    clear : right;
    display: block;
    
}
.packing {
    clear: right;
    margin: 175px 200px 0px 200px;
    text-align: center;
}
.packing img {
    float:left;
    margin: 0px 90px 50px 0px;
    

}
.packing p {
    display : block;
    clear: right;
    font-family: Arial;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-margin-before: 1px;
    -webkit-margin-afer: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}
.packing h2 {
    clear : right;
    display: block;